:root{
    --p-font-size: 1rem;
    --p-font-size-laptop: 1.2rem;
    --h1-font-size: 1.875rem;
    --h1-font-size-laptop: 2rem;
    --h1-font-weight: 600;
}


body{
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    width: 100%;
    
}

/*width, height 100% needed for images to take up entire screen */
html{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    background-color: #ffffff;
    border-bottom: 0.05em solid black;
}
.hamburgerMenu{
    position: absolute;
    left: 4%;
}

.hamburgerMenu a{
    font-size: 2em;
}

.logo{
    text-align: center;
    font-size: 2rem;
    
}
.navLinks ul{
    display: none;
    position: absolute;
    margin-top: 1em;
    background-color: white;
    width: 100%;
}

.navLinks a{
    padding: 1em 0 1em 2em;
    
    /*allows padding to be respected to the inline elements, a tags are inline elements by default*/
    display: inline-block;
    
    /*needed so during mobile usage even if user doesn't click on exactly on the word, the area will act as a button*/
    width: 100%;
}

.container{
    margin-left: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 7em;
}

h1{
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    text-align: center;
    margin-top: 3em;
}

.imageContainer{
    margin-top: 2em;
    margin-bottom: 2em;
}

img{
    width: 100%;
    height: auto;
}

p{
    font-size: var(--p-font-size);
}






footer{
    background-color: rgb(43, 42, 42);
    text-align: center;
    color: white;
    font-family: 'Roboto mono' monospace;
    padding-bottom: 7em;
    padding-top: 2em;
}



footer h2{
    padding-bottom: 1em;
    font-size: 1.5em;
}

footer p{
    padding-bottom: 1em;
}

.hours{
    padding-top: 1em;
    
}

@media screen and (min-width: 768px){

    .hamburgerMenu{
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        padding: 0.6em 0em;
        justify-content: space-between;
    }

    .logo{
        margin-left: 1.5em;
    }

    .navLinks{
        width: 30%;
        margin-right: 2em;
    }

    .navLinks ul{
        display: block;
        display: flex;
        margin-top: 0;
        position: static;
        justify-content: space-around;
        
    }

    .navLinks a{
        padding: 0;
        width: 100%;
        font-size: 1.15rem;
    }

    .container{
        margin-left: 4em;
        margin-right: 4em;
        min-height: 76%;
    }

    h1{
        font-size: var(--h1-font-size-laptop);
    }

    .imageContainer{
        
        height: 22em;
        width: 100%;
        overflow: hidden;
        
    }

    img{
        width: 100%;
        height: auto;
        margin-top: -0.5em;

    }

    footer .hours{
        margin-top: 1em;
    }
    footer{
        padding-bottom: 2em;
       
        width: 100%;
    }

    footer p{
        display: inline;
    }

}


@media screen and (min-width:1024px){
    .hamburgerMenu{
        display: none;
    }            

    .navbar{
        display: flex;
        align-items: center;
        padding: 1em 0em;
        justify-content: space-between;
    }

    .logo{
        margin-left: 2em;
        font-size: 2rem;
    }

    .navLinks{
        width: 30%;
        margin-right: 2em;
    }

    .navLinks ul{
        display: block;
        display: flex;
        margin-top: 0;
        position: static;
        justify-content: space-around;
        
    }

    .navLinks a{
        padding: 0;
        width: 100%;
        font-size: 1.25rem;
    }

    .navLinks a:hover{
        font-weight: 600;
    }

    .container{
        margin-left: 20em;
        margin-right: 20em;
    }

    .imageContainer{
        
       
        width: 100%;
        overflow: hidden;
        
    }

    img{
        width: 100%;
        height: auto;
    }

    p{
        font-size: var(--p-font-size-laptop);
    }


    footer{
        padding-bottom: 2em;
       
        width: 100%;
    }

    footer p{
        display: inline;
    }

    footer .hours{
        margin-top: 1em;
    }
}